.spotsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.spotBox {
    display: flex;
    align-self: center;
    width: 350px;
    justify-content: center;
    border: 3px black solid;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.spotBox:hover {
    transform: translate(2px, 2px);

    .spotDetails {
        background-color: #d1eacc;
    }
}

.singleSpotImageContainer {
    width: 350px;
    height: 350px;
    border: 2px solid black;
}

.spot {
    display: grid;
    width: 350px;
    height: 400px;
}

.spotDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #042cbe;
}
