#modal {
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: rgb(58, 122, 173);
    border: 3px black solid;
    border-radius: 20px;
    width: 500px;
    padding: 5px;
}
