.spotIdImageContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.biggerImage {
    width: 800px;
    height: 500px;
}

.spotIdImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smallerImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.smallerImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionCalloutContainer {
    display: flex;
    justify-content: space-between;
}

.calloutHeader {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
