/* .spotIdImageContainer {
    display: flex;
    gap: 10px;
    height: 500px;
} */

/* .biggerImage {
    width: 800px;
    height: 500px;
} */

.descriptionCalloutContainer {
    display: flex;
    justify-content: space-between;
}

.ratingsReserve {
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px;
}

.calloutHeader {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
