.hidden {
    display: none;
}

.navList {
    display: flex;
    justify-content: space-between;
}

.navList a {
    display: inline-flex;
}

.siteTitle {
    align-self: flex-start;
}

.navList span {
    display: flex;
}

.logo {
    width: 75px;
    height: 75px;
}

.navRight {
    display: flex;
    gap: 10px;
    height: 20px;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
}
